USE [master]
GO
/****** Object:  Database [blogproj]    Script Date: 11-04-2026 12:17:57 ******/
CREATE DATABASE [blogproj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blogproj', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\blogproj.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blogproj_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\blogproj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blogproj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blogproj]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11-04-2026 12:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 11-04-2026 12:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[RatingCount] [int] NOT NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260409055233_CleanFix', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260410055847_AddRating', N'8.0.25')
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Image], [Rating], [RatingCount]) VALUES (2, N'Modern Crystal Sputnik Chandelier', N'Modern Crystal Sputnik Chandelier – Luxury Starburst Pendant Light for Living Room, Dining Room & Bedroom| 400mm', N'https://m.media-amazon.com/images/I/61ZyXuihTmL._SX522_.jpg', 0, 0)
INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Image], [Rating], [RatingCount]) VALUES (3, N'Jelly Fish Acrylic Chandelier', N'Harold Electricals Jelly Fish Acrylic Chandelier, French Gold Hanging Pendant Lights for Living Room, Bedroom & Hall (Spiral, Five Pendants)', N'https://m.media-amazon.com/images/I/61GrQIN9bdL._SX522_.jpg', 0, 0)
INSERT [dbo].[Blogs] ([Id], [Title], [Description], [Image], [Rating], [RatingCount]) VALUES (4, N'Swan Wall Light', N'Harold Electricals Swan Wall Light |Luxury Wall Sconce Lamp | Modern Acrylic Lighting Fixtures for Bedroom, Bedside, Living Room,Lobby, café & Home Décor - Golden(Inbuilt LED)', N'https://m.media-amazon.com/images/I/41pxPbPENpL._SX522_.jpg', 0, 0)
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ((0)) FOR [RatingCount]
GO
USE [master]
GO
